<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

      <% include partials/navbar.ejs %>

      <main class="container">

        <% include ../static/partials/messages.ejs %>

        <header class="jumbotron my-4" style="text-align:center;">
          <h1 class="display-3">Fitpedia</h1>
          <p class="lead">Create and share markdown wikis</p>
          <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <section class="row text-center">

          <section class="col-lg-6">
            <h4 class="card-title">Free Plan</h4>
            <p class="card-text">Create as many public wikis as you want!</p>
          </section>

          <section class="col-lg-6">
            <h4 class="card-title">Premium Plan</h4>
            <p class="card-text">Create private wikis!</p>
          </section>

        </section>

      </main>

      <% include partials/baseScripts.ejs %>
    </body>
</html>